*{
    margin:0;
    padding:0;
}


body {
    background-color:#F0E2CB;
    font-size:18px;
    font-family:"Lancelot";
    margin: auto;
    width: 60%;
    padding-top: 1em;
    padding-bottom: 1em;
}
h1{
    font-size:58px;
    font-family:"Jim Nightshade";
    padding-top: .80em;
    padding-bottom: .30em;
}
h2{
    font-size:38px;
    font-family:"Kings" ;
    letter-spacing: 1.5px;
}
h3{
    font-size:28px;
    font-family:"Kotta One" ;
}
a{
    color: rgb(22, 201, 255);

}
a:hover{
    color: rgb(20, 139, 195);
}
#wizzy {
    float: right;
    margin: 10px;
    margin-top: 3px;
    margin-right: 25px;
}
.article-info {
    font-size: 16px;
    margin: 2px;
    color: aquamarine;
}
#newsletter-whole {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#newsletter-whole input {
    font-size: 16px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
    height: 32px;
    margin-top: 3px;
}
#newsletter-whole button {
    background-color: #f7ff07;
    border-radius: 5px;
    padding: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 42px;

}
#newsletter-whole form {
    width: fit-content;
    margin: auto;
}
#newsletter-whole h2 {
    margin: auto;
    width: fit-content;
}
/* related articles */
.article-flex {
    display: flex;
    gap: 30px;
}
.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.article-grid img {
width: 100%;
}
#article-1 {
    /*first value is where it starts and the second is where it ends*/
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
#article-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#article-3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

/* Nav css and stuff yeah */

header nav menu li {
    list-style: none;

}
header nav {
    display: flex;
    justify-content: space-between;
}
header nav menu#main-menu {
    display: flex;
    gap: 50px;
}
header nav menu.dropdown {
    display: none;
}
header nav .dropdown-trigger:hover menu.dropdown {
    display: block;
    position: absolute;
}
nav button {
    background-color: transparent;
    border: 0;
    font-family: lancelot; 
    color: aliceblue;

}




#mobile-menu-button {
    display: none;
}




/* media things */




@media (max-width: 1080px) {
    body {
        width: 60%;
        margin: auto;
    }

}
@media (max-width: 880px) {
    body {
        width: 60%;
        margin: auto;
    }

}

@media (max-width: 1024px) {
    #mobile-menu-button {
        display: block;
    }
    #main-menu {
        display: none;
    }
   
}